@font-face {
  font-family: 'VT323';
  src: local('VT323'), url(./assets/fonts/VT323-Regular.ttf) format('truetype');
}
#root {
  display: flex;
  justify-content: center;
  padding-top: 32px;
  font-family: VT323, monospace;
  font-size: 24px;
}
